sudo: false
language: go
go:
  - master
  - 1.11.x
  - 1.10.x
  - 1.9.x

before_script:
  - go build ./vendor/github.com/golang/lint/golint
script:
  - ./test.sh
notifications:
  email:
    recipients:
      - kyle@cloudflare.com
      - cbroglie@cloudflare.com
    on_success: change
    on_failure: change
